/* GENERAL */
.sectionHeadline {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.sectionSubHeadline {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.sectionText {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.3;
}

.protagonistImage {
  position: relative;
  height: 300px;
  max-width: 250px;
  overflow: hidden;
  margin: 0 auto 1rem auto;
}

.protagonistHead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.protagonistText {
  font-size: 1rem;
  line-height: 1.3;
}


/* ====== */
/* HEADER */
/* ====== */
.headSectionContainer {
  padding: 0 2rem;
  height: 70vw;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bgVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mainHeadline {
  font-size: 60px;
  text-transform: uppercase;
  transform: rotate(-90deg) translate(-0%, -0%);
  display: inline-flex;
  flex-direction: column;
}

.titleImageWrapper {
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vw;
  position: absolute;
}
/* =========== */
/* SECTION TWO */
/* =========== */
.sectionTwoContainer {
  margin: 100px 0;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .sectionTwoContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ============= */
/* SECTION THREE */
/* ============= */
.sectionThreeContainer {
  background-color: lightgrey;
  padding: 100px 2rem;
}

.contentWrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* ============ */
/* SECTION FOUR */
/* ============ */
.sectionFourContainer {
  margin: 100px 0;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .sectionFourContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ============ */
/* SECTION FIVE */
/* ============ */
.sectionFiveContainer {
  margin: 100px 0;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 4rem;
  text-align: center;
}

@media (max-width: 768px) {
  .sectionFiveContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .sectionFiveContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* =========== */
/* SECTION SIX */
/* =========== */
.sectionSixContainer {
  margin: 100px 0;
  position: relative;
}

.containerSlider {
  margin: 0 auto;
  width: 80%;
  height: 50vw;
  position: relative;
  display: flex;
}

.image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 78%;
  position: relative;
  top: 0;
}

.btnSlider {
  width: 80px;
  height: 80px;
  background: red;
  border-radius: 50%;
}
